$oranzova: #f58e0e;
$mobilni_breakpoint: 800px;
$mobilni_breakpoint1: 801px;
$sirka_mobilniho_menu: 90%;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
    background-color: rgba(255,255,255,0.9);
}

.spinner::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 11rem;
    height: 11rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../res/spinner.svg');
}

.myalert {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
    background-color: rgba(255,255,255,0.9);

    .text_element {
        display: inline-block;
        margin: 1rem;
        padding: 0.5rem 1rem;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 0px 4px grey;
        max-width: 90%;
        text-align: center;

        .ok_btn {   
            display: inline-block;
            padding: 0.4rem 0.7rem;
            user-select: none;
            cursor: pointer;
            color: white;
            font-weight: bold;
            background: linear-gradient(to right, $oranzova, red);
            margin: 1rem;
        }
    }

    
}

.bile_pozadi {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9;
}

.absolutni_element_dimensions {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 10px;
}

@media (max-width: 500px) {
    .absolutni_element_dimensions {
        width: 95%;
    }
}

@media (min-width: 501px) {
    .absolutni_element_dimensions {
        width: 495px;
    }
}


.myPrompt {

    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 5px grey;

    .nadpis {
        font-size: 30px;
        font-weight: bold;
        color: #f70000;
        margin-top: 20px;
    }

    .text {
        margin-top: 15px;
    }

    input {
        outline: none;
        border: none;
        border-bottom: 1px solid lightgrey;
        background-color: #fff8ea;
        padding: 0px 10px;
        font-size: 16px;
        height: 25px;
        line-height: 25px;
        display: block;
        width: 60%;
        margin: 20px auto;
    }

    .btn {
        display: inline-block;
        background: linear-gradient(to right, $oranzova, red);
        border-radius: 6px;
        padding: 6px 20px;
        user-select: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .close_btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        font-size: 40px;
        background: linear-gradient(to right, $oranzova, red);
        color: white;
        user-select: none;
        cursor: pointer;
    }
}

.spinner_btn_add_ukol::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        border-radius: 3px;
        top: 0;
        left: 0;
        background-color: $oranzova;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../res/spinner_mini.gif');
}

.element_znazornujici_posun_ukolu {
    border: 2px solid rgb(2, 236, 14);
    background-color: rgb(134, 255, 140);
    position: absolute;
    width: 95%;
    left: 0px;
}

.kontainer_vlajek {
    padding: 15px 3px;
    text-align: center;

    .text_jazyk {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
    }

    .vlajka_odkaz {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .vlajka_odkaz.cz {
        background-image: url('../res/flag_cz.png');
    }

    .vlajka_odkaz.en {
        background-image: url('../res/flag_en.png');
    }

    .vlajka_odkaz.de {
        background-image: url('../res/flag_de.png');
    }
}

.login_cont {

    min-height: calc(100vh - 32px);
    padding: 16px 0;
    background-color: white;

    .inner {
        max-width: 600px;
        margin: 16px auto;

        .logo_img {
            width: 100%;
            padding-top: 60%;
            position: relative;

            .img {
                width: 95%;
                height: 95%;
                position: absolute;
                top: 2.5%;
                left: 2.5%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../res/logo_light.svg');
                cursor: pointer;
            }

        }
    
        .login_form {

            max-width: 400px;
            margin: 0 auto;
            padding: 0.8rem;
            border-radius: 4px;
            box-shadow: 0px 0px 4px darkgrey;
            box-sizing: border-box;
            margin-bottom: 2rem;

            h1 {
                text-align: center;
                font-family: 'Titillium Web';
                font-weight: bold;
                color: #797979;
                font-size: 20px;
            }

            .error {
                color: red;
                font-size: 0.8rem;
            }

            .login_input_cont {

                white-space: nowrap;
                padding: 0.8rem 0;

                .icon {
                    display: inline-block;
                    vertical-align: middle;
                    width: 1.2rem;
                    height: 1.2rem;
                    line-height: 1.2rem;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                input {
                    display: inline-block;
                    vertical-align: middle;
                    height: 1.2rem;
                    padding: 0 0.5rem;
                    width: calc(100% - 1.2rem - 1rem);
                    outline: none;
                    border-left: none;
                    border-bottom: 1px solid #cecdcd ;
                    border-right: none;
                    border-top: none;
                }

                input::placeholder {
                    color: #cecdcd;
                }

            }

            .login_name_cont {
                .icon {
                    background-image: url('../res/icon_email.png');
                }    
            }

            .login_pass_cont {
                .icon {
                    background-image: url('../res/icon_password.png');
                } 
            }

            .btn_login {

                white-space: nowrap;
                user-select: none;
                text-align: center;
                position: relative;
                left: -0.5rem;

                .inner {

                    display: inline-block;

                    .icon {
                        cursor: pointer;
                        display: inline-block;
                        vertical-align: middle;
                        width: 2.5rem;
                        height: 2.5rem;
                        background-position: 50% 50%;
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-image: url('../res/arrow_right_login_btn.png');
                        background-color: $oranzova;
                        border-radius: 50%;
                        position: relative;
                        left: 1rem;
                        border: 2px solid white;
                        transition: box-shadow 0.2s;
                    }
    
                    .text {
                        cursor: pointer;
                        display: inline-block;
                        vertical-align: middle;
                        width: 5.5rem;
                        height: 1.8rem;
                        line-height: 1.8rem;
                        background: linear-gradient(to right, $oranzova 33%, red);
                        padding-left: 1.8rem;
                        text-align: left;
                        font-family: 'Titillium Web', sans-serif;
                        color: white;
                        transition: box-shadow 0.2s;
                    }
                }

                .inner:hover {
                    .icon {
                        animation: move_arrow_login_btn 0.2s;
                        box-shadow: 0px 0px 5px grey;
                    }
                    .text {
                        box-shadow: 0px 0px 5px grey;
                        text-decoration: underline !important;
                    }
                }

                @keyframes move_arrow_login_btn {
                    0% {background-position: 50% 50%;}
                    50% {background-position: 30% 50%;}
                    70% {background-position: 60% 50%;}
                    90% {background-position: 55% 50%;}
                    100% {background-position: 50% 50%;}
                }
            }
        }

        a {
            display: block;
            text-align: center;
            font-weight: 300;
            color: #929292;
        }
    }

}

.register_cont {

    min-height: calc(100vh - 2rem);
    padding: 1rem 0;
    background-color: white;

    .inner {
        max-width: 600px;
        margin: 0 auto;

        .logo_img {
            width: 100%;
            padding-top: 60%;
            position: relative;

            .img {
                width: 95%;
                height: 95%;
                position: absolute;
                top: 2.5%;
                left: 2.5%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../res/logo_light.svg');
                cursor: pointer;
            }

        }

        .register_form {

            border-radius: 4px;

            h1 {
                text-align: center;
                font-family: sans-serif;
                font-size: 1.1rem;
                font-weight: 900;
                color: #797979;
            }

            .kontainer_reg_mail_odeslan {
                background-color: #caffdd;
                border-radius: 5px;
                padding: 10px 0;
                margin-top: 46px;
                border: 2px solid #56ff56;

                h2 {
                    color: #ff3939;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                .text_o_reg_emailu {
                    max-width: 500px;
                    text-align: center;
                    margin: 0 auto;
                    padding-top: 1rem;
                }
            }

            .kontainer_formulare {
                width: calc(100% - 2rem);
                padding: 1rem;

                .polozka {

                    margin: 2rem 0;

                    .label {
                        display: inline-block;
                        padding-left: 2rem;   
                    }

                    .error {
                        color: red;
                        font-weight: bold;
                        font-size: 0.8rem;
                    }

                    input {
                        display: block;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1px solid #d0d0d0;
                        background-color: #fffaf2;
                        padding: 0.6rem;
                        width: calc(100% - 1.2rem);
                        outline: none;
                    }

                }

                .btn_register {

                    white-space: nowrap;
                    user-select: none;
                    text-align: center;
                    position: relative;
                    left: -0.5rem;
    
                    .inner {
    
                        display: inline-block;
    
                        .icon {
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: middle;
                            width: 2.5rem;
                            height: 2.5rem;
                            background-position: 50% 50%;
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-image: url('../res/arrow_right_login_btn.png');
                            background-color: $oranzova;
                            border-radius: 50%;
                            position: relative;
                            left: 1rem;
                            border: 2px solid white;
                            transition: box-shadow 0.2s;
                        }
        
                        .text {
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: middle;
                            padding-right: 20px;
                            height: 1.8rem;
                            line-height: 1.8rem;
                            background: linear-gradient(to right, $oranzova 33%, red);
                            padding-left: 1.8rem;
                            text-align: left;
                            font-family: 'Titillium Web', sans-serif;
                            color: white;
                            transition: box-shadow 0.2s;
                        }
                    }
    
                    .inner:hover {
                        .icon {
                            animation: move_arrow_login_btn 0.2s;
                            box-shadow: 0px 0px 5px grey;
                        }
                        .text {
                            box-shadow: 0px 0px 5px grey;
                            text-decoration: underline !important;
                        }
                    }
    
                    @keyframes move_arrow_login_btn {
                        0% {background-position: 50% 50%;}
                        50% {background-position: 30% 50%;}
                        70% {background-position: 60% 50%;}
                        90% {background-position: 55% 50%;}
                        100% {background-position: 50% 50%;}
                    }
                }
            }
        }
    }
}

.app_main_body {
    background-color: white;

    .app_main_body_inner {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #fbfbfb;
        box-shadow: 0px 0px 3px lightgrey;
        min-height: calc(100vh - 38px);

        .horni_lista_1 {
            height: 90px;
            position: relative;

            @media (max-width: $mobilni_breakpoint) {
                // mobil
                .hamburger {
                    display: block;
                }
                .logo {
                    left: 35px;
                }
            }
            @media (min-width: $mobilni_breakpoint1) {
                //pc
                .hamburger {
                    display: none;
                }
                .logo {
                    left: 0;
                }
            }

            .hamburger {
                position: absolute;
                width: 30px;
                height: 30px;
                top: 30px;
                left:2px;
                text-align: center;
                line-height: 30px;
                font-size: 20px;

                .el {
                    width: 55%;
                    height: 5%;
                    position: absolute;
                    left: 22.5%;
                    background-color: black;
                    transition: all 0.15s;
                }

                .el_1 {
                    top: 27.75%;
                }

                .el_2 {
                    top: 47.75%;
                    opacity: 1;
                }

                .el_3 {
                    top: 67.75%;
                }
            }

            .hamburger.otevrene {
                .el_1 {
                    top: 47.75%;
                    transform: rotate(45deg);
                }

                .el_2 {
                    opacity: 0;
                }

                .el_3 {
                    top: 47.75%;
                    transform: rotate(-45deg);
                }
            }

            .logo {
                width: 140px;
                height: 90px;
                position: absolute;
                top: 0;
                background-image: url('../res/logo_light.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .btn_logout {
                position: absolute;
                top: 10px;
                right: 10px;
                height: 50px;
                width: 50px;
                background-color: #fff2f2;
                box-shadow: 0px 0px 3px #ffa9a9 inset;
                cursor: pointer;
                user-select: none;
                transition: all 0.2s;

                .obrazek {
                    width: 50px;
                    height: 35px;
                    background-image: url('../res/switch_off_img.png');
                    background-position: center;
                    background-size: 60%;
                    background-repeat: no-repeat;
                }
                .text {
                    width: 50px;
                    height: 15px;
                    color: #ff9191;
                    line-height: 15px;
                    font-size: 12px;
                    text-align: center;
                    overflow: hidden;
                }
            }

            .btn_logout:hover {
                background-color: #fddcdc;
                box-shadow: 0px 0px 3px #ff5050 inset;
            }

        }

        .rada_2 {

            position: relative;

            @media (max-width: $mobilni_breakpoint) {
                // mobil
                .menu {
                    position: absolute;
                    z-index: 3;
                    right: 100%;
                    display: block;
                    width: $sirka_mobilniho_menu;
                }
                .menu.otevrene {
                    right: 10%;
                }
                .hlavni_obsah {
                    width: 100%;
                    display: block;
                }
            }
            @media (min-width: $mobilni_breakpoint1) {
                //pc
                .menu {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 240px;
                    right: 0%;
                }
                .hlavni_obsah {
                    display: inline-block;
                    width: calc(100% - 240px);
                    vertical-align: top;
                }
                
            }

            .menu {                
                background-color: #ffffff;   
                transition: all 0.2s; 
                min-height: calc(100vh - 168px);  
                box-shadow: 0px 0px 4px lightgrey inset;

                .user_info {
                    padding: 20px 10px 0px 10px;
                    text-align: center;
                    color: grey;
                    cursor: default;
                }
                
                .menu_nadpis {
                    font-weight: bold;
                    color: $oranzova;
                    cursor: default;
                    user-select: none;
                    margin-top: 20px;
                }

                .polozka_menu {
                    padding: 5px 6px;
                    user-select: none;
                }

                .kontainer_seznamu_menu {

                    .text_zadny_senam {
                        padding-left: 15px;
                        color: grey;
                        user-select: none;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .polozka_menu {
                        padding-left: 10px;
                        color: #bbbbbb;
                    }

                    .polozka_menu.otevrena {
                        font-weight: bold;
                    }

                    .polozka_menu.odkaz {
                        color: black;
                        cursor: pointer;
                        transition: all 0.2s;
                        line-height: 1rem;
                    }
                    .polozka_menu.odkaz:hover {
                        text-decoration: underline;
                        background-color: rgb(255, 211, 146);
                    }

                    .btn_pridat_seznam {
                        text-align: left;
                        .btn {
                            display: inline-block;
                            background-color: #f58e0e;
                            padding: 2px 6px;
                            color: white;
                            margin-left: 10px;
                            font-weight: bold;
                            font-size: 0.9rem;
                            user-select: none;
                            cursor: pointer;
                            border-radius: 8px;
                            margin-top: 10px;
                        }
                    }
                }

                .nastaveni_polozka {
                    color: black;
                    user-select: none;
                    padding-left: 15px;
                    margin-bottom: 10px;

                    .odkaz_nastaveni {
                        text-decoration: underline;
                        color: $oranzova;
                        cursor: pointer;
                    }

                    .odkaz_nastaveni:hover {
                        color: blue;
                    }

                    .odkaz_nastaveni_flag {
                        height: 16px;
                        width: 30px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        user-select: none;
                        cursor: pointer;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .odkaz_nastaveni_flag[lang="cz"] {
                        background-image: url('../res/flag_cz.png');
                    }
                    .odkaz_nastaveni_flag[lang="en"] {
                        background-image: url('../res/flag_en.png');
                    }
                    .odkaz_nastaveni_flag[lang="de"] {
                        background-image: url('../res/flag_de.png');
                    }
                }
                
            }

            .hlavni_obsah {

                min-height: calc(100vh - 168px);

                .zadny_seznam_kont {
                    padding-left: 20px;
                    padding-top: 20px;
                    color: black;
                }

                .otevreny_seznam {

                    .nadpis_seznamu {
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: rgb(58, 58, 58);
                        padding: 10px 18px;
                        line-height: 1.6rem;
                    }

                    .konteiner_tlacitek_akci {

                        padding: 6px 18px;

                        .btn {
                            display: inline-block;
                            background-color: rgb(255, 235, 219);
                            color: #c58900;
                            min-width: 30px;
                            height: 30px;
                            box-shadow: 0px 0px 5px rgb(255, 200, 156) inset;
                            white-space: nowrap;
                            overflow: hidden;
                            line-height: 30px;
                            padding: 5px;
                            user-select: none;
                            cursor: pointer;
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            transition: all 0.1s;
                            margin-left: 3px;
                            vertical-align: middle;
                            margin-top: 5px;
                        }

                        .btn:hover {
                            background-color: rgb(255, 243, 232);
                            box-shadow: 0px 0px 5px rgb(255, 210, 173) inset;
                        }

                        .btn.share {
                            background-image: url('../res/or_btn_share.png');
                        }

                        .btn.delete {
                            background-image: url('../res/or_btn_delete.png');
                        }

                        .btn.refresh {
                            background-image: url('../res/or_btn_refresh.png');
                        }

                        .btn.edit {
                            background-image: url('../res/or_btn_edit.png');
                        }

                        .info_sdilen_s {

                            display: inline-block;
                            vertical-align: middle;
                            height: 35px;
                            background-color: white;
                            margin-left: 4px;
                            padding: 0 5px;
                            box-shadow: 0px 0px 4px grey inset;
                            margin-top: 5px;
                            white-space: nowrap;

                            .text {
                                line-height: 13px;
                                display: inline-block;
                                vertical-align: top;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                                text-align: center;

                                .barevny_text {
                                    color: #ce8500;
                                    font-size: 13px;
                                    font-weight: bold;
                                    user-select: none;
                                }
                            }

                            .close_btn {
                                background-color: red;
                                display: inline-block;
                                vertical-align: top;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 16px;
                                height: 16px;
                                line-height: 12px;
                                text-align: center;
                                font-weight: bold;
                                color: white;
                                margin-left: 11px;
                                font-size: 21px;
                                user-select: none;
                                cursor: pointer;
                            }
                        }
                    }

                    .kontainer_polozek_seznamu {

                        padding: 10px;
                        position: relative;

                        

                        .kontainer_polozek_seznamu_inner {

                            width: 100%;
                            position: relative;

                            .element_zadna_polozka {
                                color: black;
                                padding: 20px 10px;
                            }

                            .blok_ukolu {

                                margin-top: 8px;
                                position: relative;
                                z-index: 2;

                                .checkbox {
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 30px;
                                    height: 30px;
                                    transition: background-color 0.13s;
                                    position: relative;
                                    z-index: 2;

                                    input[type="checkbox"] {
                                        opacity: 0;
                                        width: 0;
                                        height: 0;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }

                                    .custom_checkbox {
                                        width: 100%;
                                        height: 100%;
                                        cursor: pointer;
                                        border-radius: 50%;
                                        border: 2px solid $oranzova;
                                        box-sizing: border-box;
                                        background-color: white;
                                        position: relative;
                                    }

                                    input[type="checkbox"]:checked + .custom_checkbox {
                                        border: none;
                                    }

                                    input[type="checkbox"]:checked + .custom_checkbox::before {

                                            content: '';
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            top: 0;
                                            left: 0;
                                            border-radius: 50%;
                                            background-color: $oranzova;
                                            animation: pop_1 0.18s forwards;
                                            animation-timing-function: linear;
                                        

                                        @keyframes pop_1 {
                                            0% {width: 0%;height: 0%;top:50%;left:50%}
                                            60% {width: 110%;height: 110%;top:-5%;left:-5%}
                                            80% {width: 90%;height: 90%;top:5%;left:5%}
                                            100% {width: 100%;height: 100%;top:0;left:0}

                                        }
                                    }
                                    
                                    input[type="checkbox"]:checked + .custom_checkbox::after {

                                            content: '';
                                            position: absolute;
                                            width: 60%;
                                            height: 60%;
                                            top: 20%;
                                            left: 20%;
                                            transform: rotateX(90deg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-image: url('../res/checked.png');
                                            animation: pop_2 0.18s forwards;
                                            animation-timing-function: linear;
                                            animation-delay: 0.18s;

                                        @keyframes pop_2 {
                                            0% {transform: rotateX(90deg)}
                                            100% {transform: rotateX(0deg)}
                                        }
                                    }
                                }

                                .checkbox.spinning {

                                    .custom_checkbox {
                                        border: 1px solid grey;
                                    }

                                    .custom_checkbox::before {
                                        position: absolute;
                                        top: 4%;
                                        left: 4%;
                                        content: '';
                                        width: 92%;
                                        height: 92%;
                                        border-radius: 50%;
                                        box-sizing: border-box;
                                        border-left: 2px solid rgba(0,0,0,0);
                                        border-right: 2px solid rgba(0,0,0,0);
                                        border-top: 2px solid rgb(0, 153, 255);
                                        border-bottom: 2px solid rgb(0, 153, 255);
                                        transform: rotate(0deg);
                                        animation: rotace_checkbox_spinneru_1 1.3s infinite;
                                        animation-timing-function: linear;
                                    }

                                    @keyframes rotace_checkbox_spinneru_1 {
                                        0% {
                                            transform: rotate(0deg);
                                        }
                                        50% {
                                            transform: rotate(182.5deg);
                                        }
                                        100% {
                                            transform: rotate(365deg);
                                        }

                                    }

                                    .custom_checkbox::after {
                                        position: absolute;
                                        top: 14%;
                                        left: 14%;
                                        content: '';
                                        width: 72%;
                                        height: 72%;
                                        border-radius: 50%;
                                        box-sizing: border-box;
                                        border-left: 2px solid rgba(0,0,0,0);
                                        border-right: 2px solid rgba(0,0,0,0);
                                        border-top: 2px solid rgb(0, 153, 255);
                                        border-bottom: 2px solid rgb(0, 153, 255);
                                        transform: rotate(0deg);
                                        animation: rotace_checkbox_spinneru_2 1s infinite;
                                        animation-timing-function: linear;
                                    }

                                    @keyframes rotace_checkbox_spinneru_2 {
                                        0% {
                                            transform: rotate(0deg);
                                        }
                                        50% {
                                            transform: rotate(-182.5deg);
                                        }
                                        100% {
                                            transform: rotate(-365deg);
                                        }

                                    }

                                }

                                .icon {
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 30px;
                                    height: 30px;
                                    background-position: center;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    cursor: pointer;
                                    transition: background-color 0.13s;
                                    position: relative;
                                    z-index: 2;
                                }

                                .icon.move_icon {
                                    background-image: url('../res/or_btn_move.png');
                                }

                                .icon.edit_icon {
                                    background-image: url('../res/or_btn_edit.png');
                                }

                                .icon.delete_icon {
                                    background-image: url('../res/or_btn_delete.png');
                                }

                                .textova_cast {
                                    display: inline-block;
                                    vertical-align: top;
                                    width: calc(100% - 150px);
                                    min-height: 23px;
                                    padding-top: 7px;
                                    transition: background-color 0.13s;
                                    line-height: 16px;
                                    font-size: 16px;
                                }

                                .btn_rozbalit {
                                    background-image: url('../res/or_btn_sbalit.png');
                                    transition: background-color 0.13s , transform 0.12s;
                                    position: relative;
                                    z-index: 2;
                                }

                                .btn_rozbalit:hover ~ .textova_cast{
                                    background-color: rgb(255, 238, 219);
                                }

                                .svg_kontainer_car {
                                    position: absolute;
                                    top:0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
        
                                    /*
                                    z-index: 2; vymazat
                                    */
        
                                    line {
                                        stroke-width: 2;
                                        stroke: $oranzova;
                                        stroke-dasharray: 2;
                                        //stroke: black;
                                    }
                                }

                                .submenu {
                                    margin-left: 25px;
                                    overflow: hidden;
                                    transition: max-height 0.12s;
                                    position: relative;
                                    z-index: 2;
                                }

                                .submenu.sbaleny {
                                    max-height: 0px;
                                    /*
                                        max-height je řešeno pouze přes JS,
                                            nastaven je kvůli počátečnímu zobrazení úkolů
                                        - efekt plynulosti je díky - transition: max-height 0.12s;
                                    */
                                }

                                .btn_rozbalit.sbaleny{
                                    transform: rotate(90deg);
                                }
                            }

                            .element_pridani_dalsiho_ukolu {
                                text-align: left;
                                margin-top: 11px;
                                div {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: calc(100% - 70px);
                                    text-align: left;
                                    input {
                                        display: inline-block;
                                        vertical-align: middle;
                                        text-align: left;
                                        width: 100%;
                                        height: 25px;
                                        line-height: 25px;
                                        padding: 0px 12px;
                                        outline: none;
                                        box-sizing: border-box;
                                        border: none;
                                        border-bottom: 1px solid lightgray;
                                        font-size: 16px;
                                        ::placeholder {
                                            color: lightgray;
                                            font-size: 8px;
                                        }
                                    }
                                }
                                span {
                                    box-shadow: 0px 0px 3px grey;
                                    display: inline-block;
                                    vertical-align: middle;
                                    text-align: center;
                                    overflow: hidden;
                                    height: 25px;
                                    width: 70px;
                                    /* background-color: yellow; */
                                    background: linear-gradient(to right, #f58e0e, red);
                                    cursor: pointer;
                                    user-select: none;
                                    color: white;
                                    border-radius: 3px;
                                    font-weight: bold;
                                    font-size: 14px;
                                    position: relative;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#debug {
    display: none;
    z-index: 5;
    position: fixed;
    top: 10px;
    height: 1.4rem;
    line-height: 1.4rem;
    white-space: nowrap;
    width: 90%;
    background-color: black;
    color: white;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.zapomenute_heslo_cont {
    min-height: calc(100vh - 2rem);
    padding: 1rem 0;
    background-color: white;

    .inner {
        max-width: 600px;
        margin: 0 auto;

        .logo_img {
            width: 100%;
            padding-top: 60%;
            position: relative;

            .img {
                width: 95%;
                height: 95%;
                position: absolute;
                top: 2.5%;
                left: 2.5%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../res/logo_light.svg');
                cursor: pointer;
            }

        }

        .frgt_pswd_form {

            border-radius: 4px;

            h1 {
                text-align: center;
                font-family: sans-serif;
                font-size: 1.1rem;
                font-weight: 900;
                color: #797979;
            }

            .text_o_reg_emailu {
                max-width: 500px;
                text-align: center;
                margin: 0 auto;
                padding-top: 3rem;
                font-weight: 300;
            }

            .kontainer_formulare {
                width: calc(100% - 2rem);
                padding: 1rem;

                .polozka {

                    margin: 2rem 0;

                    .label {
                        display: block;
                        padding-left: 2rem;

                        .error {
                            color: red;
                            font-weight: bold;
                            font-size: 0.8rem;
                        }
                    }

                    input {
                        display: block;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1px solid #d0d0d0;
                        background-color: #fffaf2;
                        padding: 0.6rem;
                        width: calc(100% - 1.2rem);
                        outline: none;
                    }

                }

                .btn_register {

                    white-space: nowrap;
                    user-select: none;
                    text-align: center;
                    position: relative;
                    left: -0.5rem;
    
                    .inner {
    
                        display: inline-block;
    
                        .icon {
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: middle;
                            width: 2.5rem;
                            height: 2.5rem;
                            background-position: 50% 50%;
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-image: url('../res/arrow_right_login_btn.png');
                            background-color: $oranzova;
                            border-radius: 50%;
                            position: relative;
                            left: 1rem;
                            border: 2px solid white;
                            transition: box-shadow 0.2s;
                        }
        
                        .text {
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: middle;
                            padding-right: 20px;
                            height: 1.8rem;
                            line-height: 1.8rem;
                            background: linear-gradient(to right, $oranzova 33%, red);
                            padding-left: 1.8rem;
                            text-align: left;
                            font-family: 'Titillium Web', sans-serif;
                            color: white;
                            transition: box-shadow 0.2s;
                        }
                    }
    
                    .inner:hover {
                        .icon {
                            animation: move_arrow_login_btn 0.2s;
                            box-shadow: 0px 0px 5px grey;
                        }
                        .text {
                            box-shadow: 0px 0px 5px grey;
                            text-decoration: underline !important;
                        }
                    }
    
                    @keyframes move_arrow_login_btn {
                        0% {background-position: 50% 50%;}
                        50% {background-position: 30% 50%;}
                        70% {background-position: 60% 50%;}
                        90% {background-position: 55% 50%;}
                        100% {background-position: 50% 50%;}
                    }
                }
            }

            .obnova_ok_element {

                text-align: center;
                .p {
                    line-height: 1.1rem;
                    padding-top: 40px;
                }

                .p2 {

                    padding-top: 40px;

                    a {
                        text-decoration: none;
                        color: white;
                        display: inline-block;
                        background: linear-gradient(to right, orange, red);
                        padding: 6px 10px;
                        font-weight: bold;
                        font-size: 1.2rem;
                        border-radius: 4px;
                        box-shadow: 0px 0px 10px grey;
                        user-select: none;
                        cursor: pointer;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.footer {

    position: relative;
    height: 32px;
    font-size: 12.8px;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    margin-top: 40px;
    color: black;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-top: 1px solid #d1d1d1;
    box-sizing: border-box;
    height: 1px;
}